<li id="c-<%= @comment.id %>"> 
	<p><%= @comment.comment %></p>
	<p> <%= @comment.user.email %></p>
  	<%= link_to 'Edit', edit_product_comment_path(@comment.product_id,@comment),remote:true %> |
      <%= link_to 'Destroy', product_comment_path(@comment.product_id,@comment), method: :delete, data: { confirm: 'Are you sure?' } , remote:true %>

</li>