<%= form_with(model: @comment, remote: true, url: product_comment_path(@comment.product_id,@comment),method: :patch) do |form| %>

  <div class="field">
    <%= form.label :Comment %>
    <%= form.text_field :comment %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>