<% @products.each do |product| %>
  <div class="media mb-2 border-bottom" id="p-<%= product.id %>">
    <div class="media-body"> <h3 class="font-weight-bold"> <%= product.title %></h3>
      <div class="small text-muted">
        <h4>
        Price: <%= product.price %> <span class="mx-2">|</span> Qty: <%= @cart['products'][product.id.to_s] %> <span class="mx-2">|</span> Subtotal: <%= product.price * @cart['products'][product.id.to_s].to_i %></h4>
      </div>
    </div>
  </div>
<% end %>


