<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

<!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-sm-8 col-lg-8 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <h2 id="coupon-err" class="text-danger"></h2>
                            <h3>Do you have Coupon ?</h3>
                            <%= form_for(:discount, url: coupon_path ,remote:true) do |form| %>
                                <div class="field">
                                  <%= form.text_field :coupon %>
                                </div>

                                <div class="actions">
                                     <%= form.submit 'apply coupon', class: 'btn btn-danger' %>
                                 </div>
                            <% end %>
                            <div class="odr-box mt-5">
                                <div class="title-left">
                                    <h3>Shopping cart</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    <%= render 'product' %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>Your order</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Product</div>
                                    <div class="ml-auto font-weight-bold">Total</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Sub Total</h4>
                                    <div class="ml-auto font-weight-bold"> <%= @cart['total'] %> </div>
                                </div>
                                <div class="d-flex">
                                    <h4>Discount</h4>
                                    <div class="ml-auto font-weight-bold" id="disc"> $ <%= @coupon.present? ? (@coupon.discount * @cart['total'].to_f).round(2) : '0' %> </div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Shipping Cost</h4>
                                    <div class="ml-auto font-weight-bold"> Free </div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>Grand Total</h5>
                                    <div class="ml-auto h5" id="total"> $ <%= @coupon.present? ? @cart['total'].to_f - (@coupon.discount * @cart['total'].to_f) : @cart['total'].to_f %> </div>
                                </div>
                                <hr> </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
        <div class="container w-50">
            <h2>Credit card :</h2>
            <%= form_for(:order, url: orders_path,:html => {:id => "payment-form"}) do |form| %>

                <div class="field" id="card-element">
                  <!-- <%= form.label 'Credit or debit card' %> -->
                </div>

                <div id="card-errors" role="alert"></div>

                <div class="actions">
                  <%= form.submit "Pay Now" , class: 'btn btn-danger mt-3'%>
                </div>
            <% end %>
        </div>
    </div>
    <!-- End Cart -->


