<% @products.each do |product| %>
<div id="p-<%= product.id %>">
	<h2>Title:<%= product.title %></h2>
	<h2>Description:<%= product.description %></h2>
	<h2>Price($):<%= product.price %></h2>
	<%= form_for(:cart, url: carts_path,method: :patch,remote:true) do |form| %>

    <div class="field">
      <%= form.label :Quantity %>
      <%= form.number_field :quantity, max:product.quantity, min:1,value:@cart['products'][product.id.to_s]%>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :product_id, value: product.id %>

    <div class="actions">
      <%= form.submit "add to cart"%>
    </div>
  <% end %>

  <%= form_for(:cart, url: carts_path,method: :delete,remote:true) do |form| %>
    <%= form.hidden_field :product_id, value: product.id %>
    <div class="actions">
      <%= form.submit "remove from cart"%>
    </div>
  <% end %>
	<h2>__________________________________________</h2>
</div>
<% end %>

