
<div class="container my-5 form-border" style="width:40%;">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="container">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
      <%= f.submit "Log in", class: 'button' %>
      <!-- <button type="submit">Login</button> -->
  <% end %>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container">
      <%= link_to 'Sign up',new_user_registration_path, class: 'cancelbtn button' %>
    </div>
  </form>

</div>
